export DB_PORT=5432
export DB_USER=postgres
export DB_NAME=postgres
export DB_PASSWORD=postgres
export IP=0.0.0.0
export DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${IP}:${DB_PORT}/${DB_NAME}?sslmode=disable